header, nav, main, footer { display: block; } 
* {box-sizing: border-box; }
body { background-color: #330000;
       font-family: Verdana, Arial, sans-serif;
       font-size: medium;
        text-align: center;
}
ul {
  font-size: 4em;
  text-align: center;
  
}
#wrapper { width: 960px;
          
		   background-color: #F4E8BC;
		   color: #330000;
        
		   box-shadow: 5px 5px 5px #000000;
          text-align: center;
}
h1 { background-image: none;
       background-size: contain;
     background-repeat: no-repeat;
     background-color: #F4E8BC;
	 height: auto;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 6em;
     padding-left: 0px;
	 padding-top: 0px;
	 text-shadow: 3px 3px 3px #90745D;
	 margin-bottom: 0;
}
nav { padding-top: 0px;
      
      width: 960px; 
}
nav ul { list-style-type: none; 
       padding-left: 0;
        text-align: center;
        margin: auto;
        width: 100%
	 }
nav ul li { padding-bottom: 0px;
padding-left: 0px;
       font-weight: bold;
        text-align: center;
        margin: auto;
        width: 100%;
           border: 2px solid #90745D
        
        
        
}
nav li:hover { 
       background: #90745D;
}

nav a { text-decoration: none; }
nav a:link { color: #330000; }
nav a:visited{ color: #90745D; }
nav a:hover {        color:#FFFFCC;;
               }


main { background-color: #FFFFCC;
          margin-left: 0px;
          font-size: 3em;
          padding: 0px 0px 0px 0px;   
		  min-height: 300px;
}
main img { 
              padding: 0px;
}

footer { background-color: #FFFFCC;
       margin-left: 200px;
       padding: 0px;
       text-align: center;
	   font-size: medium;
	   font-style: italic;
}

.clear{
  clear: both;
}

/*Add your mobile CSS rules below*/
body {
  max-width: 720px
}