#fallacies{
  margin-left:20px;
}

h3{
  text-decoration:underline;
}
#table {
  background-color:white;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px; 
  width: 500px;
  height: 100%
}
#Peter {}
#Shirky {}
#Moore {}
#Logic {}
#Slippery {}
#Hasty {}
#Post {}
#Genetic {}
#Begging {}
#Circular {}
#Either {}
#Ad {}
#Ad2 {}
#Red {}
#Straw {}
#Moral {}
#Eight {}
#Understanding {}

p{
  border-radius:15px;
  background-color:#EEE;
  padding: 15px;
}