html, body {
  background-color:skyblue;
  width: 80%
}
p{
  font-family: cursive;
  color: white;
  background-color: purple
}
h1{
  font-family: serif;
  color: yellow;
  background-color: black
}
h2 { 
  font-family: monospace;
  color: red;
  background-color: green
}
h3 {
  font-family: fantasy;
  color: brown;
  background-color:silver
}
main{
  background-color: pink
}
footer {
  font-style: italic;
  background-color: cyan
}